@model IEnumerable<BookRentApplication.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h3>Authors List</h3>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Author_Name)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author_Name)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Author_Id">Edit</a> |
                            <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Author_Id">Details</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Author_Id">Delete</a>


                        </td>
                    }
                    else
                    {
                        <td></td>
                    }



                </tr>
            }
        </tbody>
    </table>
   

    @section Scripts{
        <script>
            $(document).ready(function () {
                $("#myTable").DataTable();
            });



        
        </script>
    }