@model IEnumerable<BookRentApplication.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h3>Books List</h3>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Author_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Author_Name)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Book_Id">Edit</a> |
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Book_Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Book_Id">Delete</a>
                </td>
            }
            else
            {
                <td></td>
            }

        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
    $(document).ready(function () {
        $("#myTable").DataTable();
    });
    </script>
}
